<h2>For Donors</h2>
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
		          <i class="glyphicon glyphicon-thumbs-up"></i> <b> Select a campign you'd like to support. </b>
		        </a>
		      </h3>
		    </div>
		    <div id="collapse4" class="panel-collapse collapse">
		      <div class="panel-body">
		        You can choose from the selection below.
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
		          <i class="glyphicon glyphicon-euro"></i> <b> Decide on the ammount you'd like to donate </b>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse5" class="panel-collapse collapse">
		      <div class="panel-body">
		        There's usual a minimum ammount, quoted in $USD for each campaign.
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
		          <i class="glyphicon glyphicon-camera"></i> <b> Find or take a suitable image </b>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse6" class="panel-collapse collapse">
		      <div class="panel-body">
		        Upload your photo as you donate, to show your support.
		      </div>
		    </div>
		  </div>
		</div>